.box {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  gap: 5px;
}


.box {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
}
