.grid {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 4px;
  margin: 20px;
  width: fit-content;
}

.box {
  width: 40px;
  height: 40px;
  background: #ddd;
  border: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.box.active {
  background: #6d8cff;
  border-color: #405cff;
  color: white;
}