.discover {
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navigation a {
position: relative;
font-size: 1.1em;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
}
.navigation a:hover::after {
 transform: scaleX(1);
transform-origin: left;
}