  .box {
    width: 150px;
    height: 150px;
    background-color: red;
    animation: colorChange 5s linear 5;
  }

  @keyframes box {
    0%   { background-color: red; }
    50%  { background-color: blue; }
    100% { background-color: green; }
  }