.container0 {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  background: #ddd;
  padding: 10px;
}


.container1 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background: #ddd;
    padding: 10px;
}

.container2 {
  display: flex;
  gap: 10px;
  background: #ddd;
  padding: 10px;
}

.Third {
  order: -1;
}

.container3 {
  display: flex;
  gap: 10px;
  background: #ddd;
  padding: 10px;
}

.second {
  order: 4; 
}


.container4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ddd;
  padding: 10px;
}

.first {
  order: 3; 
}

